 body {
     background-color: aqua;
     font-size: 20px;
     color: rgb(13, 47, 199);
     font-family: 'Times New Roman', Times, serif;
     text-align: center;


 }

 p {

    color: blueviolet;
 }

 .texto1 {
    text-align: left;
    color: rgb(234, 0, 255);
 }
 .text2{
    text-align: left;
color:rgb(234, 0, 255) ;
 }
.text3{
    text-align: left;
    color:rgb(234, 0, 255)
}
.text4{
    text-align: left;
    color:rgb(234, 0, 255)
}
